<div class="main-content">
    <div class="login-box" *ngIf="(this.accountService.currentUser$|async) === null">
        <h3 class="mb-4 text-center">Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" [(ngModel)]="model.username" type="text" class="form-control" id="username"
                    placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" [(ngModel)]="model.password" type="password" class="form-control" id="password"
                    placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-custom w-100">Login</button>
        </form>
    </div>
    <div class="login-box" *ngIf="this.accountService.currentUser$|async">
        <h3 class="mb-4 text-center">User Information</h3>
        <p><strong>Username:</strong> <span id="userDisplay">{{user.knownAs || user.userName |titlecase}}</span></p>
        <p><strong>Password:</strong> <span id="passowrd">**************</span></p>
        <p><strong>Status:</strong> Active</p>
        <button (click)="logout()" class="btn btn-custom w-100">Logout</button>
    </div>
</div>