<div class="main-container" *ngIf="!registerMode">
    <div class="main-content">
        <h1>Welcome to ChatApp</h1>
        <p class="subtitle">Connect. Chat. Enjoy.</p>

        <div class="buttons">
            <button (click)="register()" class="btn primary">Register</button>
            <button class="btn secondary">Read More</button>
        </div>
        <div class="features">
            <h2>Why ChatApp?</h2>
            <ul>
                <li>🌐 Real-time messaging</li>
                <li>🔒 Secure & private</li>
                <li>💬 Group & Private Chats</li>
                <li>📱 Mobile responsive</li>
            </ul>
        </div>
    </div>
</div>
<div class="home-container" *ngIf="registerMode">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
</div>