<div class="main-container">
    <div class="main-content">
        <div class="login-box">
            <button class="back" (click)="back()">
                <i class="bi bi-arrow-right-circle"></i>
            </button>
            <h3 class="mb-4 text-center">Sign Up</h3>
            <form #loginForm="ngForm" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="username"
                        placeholder="Enter your username" [(ngModel)]="model.username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password"
                        placeholder="Enter your password" [(ngModel)]="model.password">
                </div>


                <button type="submit" class="btn btn-custom w-100" (click)="register()">Register</button>
            </form>
        </div>
    </div>

</div>