.login-box {
  width: 340px;
  border-radius: 15px;
  position: relative;
}

.form-control {
  border-radius: 10px;
}



i {
  font-size: 28px;
}

i:hover {
  color: #00b75a;

}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.label {
  margin: 0;
}