.sidebar {
  height: 100vh;
  width: 75px;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar button {
  border-radius: 50%;
  border: 0px;
}

.sidebar-icon {
  height: 48px;
  margin: 12px 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar i {
  font-size: 25px;
  color: #46525a;
}

.sidebar button:hover {
  background-color: #d7dbdf;

}

/* .sidebar-icon.active {
      background-color: #20c997;
      color: white;
    } */

.sidebar-icon .badge {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 10px;
}

.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 10px;
}

.gradient-ring {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(45deg, #00f, #f0f, #0ff);
}

.active {
  background-color: #d7dbdf;
}